@import url('https://fonts.googleapis.com/css?family=Inter:100,200,300,400,420,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:100,200,300,400,500,600,700,800,900');

html, body {
    width: 100%;
    height: 100%;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

html::-webkit-scrollbar {
    display: none;
}

* {
    font-family: 'Inter', 'sans-serif';
    font-weight: 500;
}

:root {
    --list-item-color: #e16d44;
    --text-color: #7f7f7f;
    --light-text-color: #8e8e8e;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active {
    border: none;
    outline: none;
    box-shadow: none;
}

.nav-item a {
    font-size: 16px;
    font-weight: 400;
}

#logo {
    height: 50px;
}

@media (min-width: 992px) { /* dall'extra large */
    .navbar > .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #logo {
        height: 80px;
    }

    .nav-item a {
        font-size: 16px;
    }
}

.bg-color-alcoholic {
    background-color: #fadcd9;
    color: #a62217;
}

.bg-color-glass {
    background-color: #c9e7f5;
    color: #175f92;
}

.bg-color-category {
    background-color: #fcddc7;
    color: #913718;
}

.bg-color-ingredients {
    background-color: #eadcfc;
    color: #6f35ad;
}

.bg-color-generic-tag {
    background-color: #beebe7;
    color: #1c6264;
}

.bg-color-ingredient {
    background-color: #d5f0b1;
    color: #346114;
}

.drink-goto {
    overflow: hidden;
    animation-duration: 0.2s;
    transition: all 0.15s ease-out;
    transform: scale(1)
}

.drink-goto:hover {
    overflow: hidden;
    transition: all 0.2s ease-in;
    transform: scale(1.05);
    cursor: pointer;
}

#navbar-search {
    appearance: none;
    border: none;
    outline: 0;
    width: 100%;

    &::-webkit-search-cancel-button {
        -webkit-appearance: none;
    }
}

#offcanvasSearch {
    height: fit-content;
}

button[type = "submit"] {
    appearance: none;
    outline: 0;
}

.link {
    color: black;
    text-decoration: none;
}

.link:hover, .link:focus {
    color: #ec8200;
    transition: 200ms;
}

.title-font {
    font-weight: 700;
    font-family: "Playfair Display", sans-serif;
}

footer {
    background-color: #f9f9f9;
    width: 100%;
    padding: 22px 0 1px 0;
}